.item-card {
  border: 1px solid var(--mantine-color-dark-4);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--shadow);
  display: flex;
  gap: var(--mantine-spacing-md);
  justify-content: space-between;
  min-height: var(--mantine-spacing-lg);
  padding: var(--mantine-spacing-sm);

  &__image {
    border-radius: var(--mantine-radius-sm);
    height: 32px;
    object-fit: 'contain';
    width: 32px;
  }
}
