.dashboard-filters {
  &__single-button {
    border-radius: 20px;
    max-height: 40px;
  }

  &__left-button {
    border-radius: 20px 0 0 20px;
    max-height: 40px;
  }

  &__right-button {
    border-radius: 0 20px 20px 0;
    max-height: 40px;
  }
}
