.text-area {
  &__input {
    border: var(--mantine-color-dark-7) 1px solid;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    height: 153px;
    line-height: 19px;
    padding: 10px var(--mantine-spacing-sm);

    &:focus {
      border-width: 1.5px;
    }

    &[data-error] {
      color: var(--mantine-color-dark-9);
      padding-right: var(--mantine-spacing-lg);

      &::placeholder {
        color: var(--mantine-color-dark-4);
      }
    }
  }
}
