.budget-goal-card {
  &__root {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--mantine-color-dark-0);
    border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 45%;
    overflow: hidden;
    position: relative;
    width: 375px;
  }

  &__header {
    align-items: start;
    align-self: stretch;
    display: flex;
    gap: var(--mantine-spacing-xs);
    justify-content: space-between;
    padding: var(--mantine-spacing-md) var(--mantine-spacing-md) 0;

    &--text {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: var(--mantine-spacing-xs);
    }
  }

  &__header-button {
    flex-shrink: 0;
  }
}
