.page-view-tab {
  &__panel {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-lg);
    padding: 40px;
    padding-top: var(--mantine-spacing-lg);
  }

  &__input-container {
    width: 100%;
  }

  &__input-group {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-sm);
    width: 100%;

    /* stylelint-disable plugin/selector-bem-pattern */
    &:not(:last-child) {
      margin-bottom: var(--mantine-spacing-sm);
    }

    & > *:not(:last-child) {
      flex: 1;
    }
    /* stylelint-enable plugin/selector-bem-pattern */
  }

  &__delete-button {
    display: flex;
    height: 100%;
    margin-top: var(--mantine-spacing-md);
    width: 40px;
  }
}
