<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Item with border" />
    <title>Item with border</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 32px;
        border-radius: 12px;
        border: 1px solid #e7e7e7;
        padding: 16px;
        gap: 8px;
        background-color: white;
        font-family: Arial, sans-serif;
        font-size: 14px;
      "
    >
      <img
        src="https://picsum.photos/200/300"
        alt="Organization Icon"
        width="32"
        height="32"
        style="border-radius: 6px; margin-right: 8px"
      />
      <span>{{organzationName}}</span>
    </div>
  </body>
</html>
