<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Main content template" />
    <title>Main content template</title>
  </head>
  <body>
    <section
      style="
        background-color: white;
        font-family: Arial, sans-serif;
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 32px;
        margin-top: 46px;
      "
    >
      <h1 style="font-size: 24px; font-weight: 500; margin-bottom: 32px">Hi {{firstName}} {{lastName}},</h1>
      <p style="font-size: 14px; color: #333333; margin: 0; line-height: 22px">
        You were invited to join your organization on Source.
      </p>
      <p style="font-size: 14px; color: #333333; margin: 0; line-height: 22px">
        It is time to dig into your marketing data to unlock your revenue potential!
      </p>
    </section>
  </body>
</html>
