@font-face {
  font-family: 'Chroma ST';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/ChromaST_Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Chroma ST';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ChromaST_Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Chroma ST';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ChromaST_Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Chroma ST';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ChromaST_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Chroma ST';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/ChromaST_Light.woff2') format('woff2');
}
